<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S'inscrire - Forum</title>
        <link rel="stylesheet" href="../static/css/register.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P"
            rel="stylesheet">
        <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
        <style>
            html, body, pre, code, kbd, samp {
                font-family: 'Press Start 2P';
            }
          </style>
    </head>
    <body id="body">

        <div id="canvas-container">
            <canvas id="canvas"></canvas>
        </div>

        <div class="nes-container is-rounded" id="register-container">
            <h2>Créer un compte</h2>

            {{if .Error}} <!-- Check for error message -->
            <div class="nes-text is-error" id="error-message">
                <p>{{.Error}}</p> <!-- Display the error message -->
            </div>
            {{end}}

            <form action="/register" method="POST">
                <div class="input-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" required
                        placeholder="Votre email">
                </div>
                <div class="input-group">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" id="username" name="username" required
                        placeholder="Choisissez un nom d'utilisateur">
                </div>
                <div class="input-group">
                    <label for="password">Mot de passe :</label>
                    <div class="password-container">
                        <input type="password" id="password" name="password"
                            required placeholder="Votre mot de passe">
                        <span id="togglePassword"
                            class="eye-icon">👲🏻</span>
                        <!-- Icône de l'œil -->
                    </div>
                </div>
                <button type="submit"
                    class="nes-btn is-success">S'inscrire</button>
            </form>
            <section class="icon-list">
                {{if .Data.Google}}
                <a href="{{.Data.Google}}" id="icon"> <i
                        class="nes-icon google" id="icon-img"></i> </a>
                {{end}}
                {{if .Data.Github}}
                <a href="{{.Data.Github}}" id="icon"> <i
                        class="nes-icon github" id="icon-img"></i> </a>
                {{end}}
            </section>
            <a href="/login"
                class="nes-btn is-primary" id="login-link">Connectez-vous
                ici</a>
            <a href="/"
                class="nes-btn is-error" id="login-link">Revenir au Forum</a>
        </div>
        <script src="../static/js/register.js"></script>
        <script src="../static/js/index.js"></script>

    </body>
</html>
